services:
  - type: web
    name: video-downloader-bot
    env: python
    region: singapore
    plan: free
    buildCommand: "bash build.sh"
    startCommand: "python main.py"
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: PYTHON_VERSION
        value: "3.11.7"
